body{
  padding:10px;
}

.main-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrap{
  display: flex;
  justify-content: center;
  height: 85px;
}

.header-image{
  object-fit: contain;
}

.outer-wrap {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1000px;
  border: 1px solid #e8e8d3;
  padding: 80px 50px;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  width: 225px;
  padding: 20px 50px;
  border: 1px solid #d3d2d2;
  box-shadow: 2px 2px #e3e1e1;
}

.output-wrap {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  width: 225px;
  padding: 20px 50px;
  border: 1px solid #d3d2d2;
  box-shadow: 2px 2px #e3e1e1;
}

.input{
  height:35px;
  font-size: 16px;
}

.label{
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .outer-wrap {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 550px;
    border: none;
}

.header-wrap {
  height: 65px;
}
}